.flex-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* width: 1500px; */
    height: 100vh;
    background-color: turquoise;
}

.flex__container {
    display: flex;
    width: 468px;
    height: 160px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: darkcyan;
}

.flex__square {
    display: flex;
    height: 78px;
    width: 78px;
    background-color: blueviolet;
    margin: 10px;
    text-align: center;
}


.flex__container-1 {
    align-items: flex-end;
}

.flex__container-2 {
    justify-content: center;
}

.flex__square-1 {
    height: 140px;
    text-align: center;

}

/* I am honestly completely lost here: 
    I can't create these empty boxes
    without giving them sizes - and they
    can't "flex stretch" when they have
    a set size. And, also - I understand
    that stretch is the standard.

    I also tried the grow and shrink, which only
    happens on their main axis and of course
    can't put them in columns (and thereby "changing
    the axis") without them ending up wrong.

    I am sure I'm missing something completely
    here, but at least this issue has helped me
    understand both stretching and growing/
    shrinking somewhat better) */

.flex__square-3 {
    height: 60px;
}

.flex__container-3 {
    align-items: center;
    justify-content: flex-end;
}

.flex__container-4 {
    justify-content: space-between;
}

.flex__square-2 {
    align-self: flex-end;
}

.flex__container-5 {
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex__container-6 {
    justify-content: center;
    align-items: center;
 }


.flex__square-4 {
    flex-grow: 1;
    /* I think this one is wrong,
        as it looks in Figma like
        it should be a bit more
        space between the side squares
        and the edge of the box they're in,
        but not able to figure that out now.. */
}
